<center>
<div id="<%= dom_id usuario %>">
  <p>
    <strong>Tipo persona:</strong>
    <%= usuario.tipo_persona %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Tipo de documento:</strong>
    <%= usuario.tipo_documento %>
  </p>

  <p>
    <strong>Identificacion:</strong>
    <%= usuario.identificacion %>
  </p>

  <p>
    <strong>Fecha emision identificacion:</strong>
    <%= usuario.f_emision %>
  </p>

  <p>
    <strong>Fechas vencimiento identificacion:</strong>
    <%= usuario.f_vencimiento %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= usuario.correo %>
  </p>

  <p>
    <strong>Telefono principal:</strong>
    <%= usuario.tlf_principal %>
  </p>

  <p>
    <strong>Telefono secundario:</strong>
    <%= usuario.tlf_secundario %>
  </p>

</div>
<center>