<p style="color: green"><%= notice %></p>

<%= render @usuario %>

<div>
  <%= link_to "Modificar usuario", edit_usuario_path(@usuario) %> |
  <%= link_to "Volver a lista de usuarios", usuarios_path %>

  <%= button_to "Eliminar usuario", @usuario, method: :delete %>
</div>
